.auto-textarea {
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  color: var(--black);
  min-height: 44px;
  font: inherit;
  margin-top: 25px;
}

.auto-textarea::placeholder {
  color: var(--neutral-50-bg0);
}
