.icon-button {
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.icon-button svg {
  display: block;
}

.large {
  padding: 4px;
}

.large svg {
  width: 32px;
  height: 32px;
}

.medium {
  padding: 12px;
}

.medium svg {
  width: 24px;
  height: 24px;
}

.small {
  padding: 8px;
}

.small svg {
  width: 20px;
  height: 20px;
}

.primary {
  background-color: var(--primary-default);
  color: white;
}

.primary:hover {
  background-color: var(--primary-800);
}

.primary:disabled {
  background-color: var(--neutral-300);
  color: var(--neutral-700);
}

.neutral {
  background-color: var(--neutral-100);
  border: 2px solid var(--neutral-300);
  color: var(--black);
}

.neutral:hover {
  background-color: var(--neutral-300);
  border: none;
}

.neutral:disabled {
  background-color: var(--neutral-300);
  color: var(--neutral-700);
}

.subtle {
  background-color: transparent;
  color: var(--black);
}

.subtle:hover {
  color: var(--primary-800);
}

.subtle:disabled {
  color: var(--neutral-300);
}
