.verdict {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-50-bg);
  font-size: var(--text-secondary);
}

.win {
  background-color: var(--success-default);
}

.draw {
  background-color: var(--warning-default);
}

.lose {
  background-color: var(--negative-default);
}
