.postIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: all 0.2s ease;
}

.postIcon p {
  font-size: var(--text-secondary);
  color: var(--black);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: transparent;
}

.icon {
  height: 24px;
  width: 24px;
}

/* This targets the SVG */
.icon-container svg {
  height: 24px;
  width: 24px;
  transition: all 0.2s ease;
}

/* Active state */
.postIcon.active {
  color: var(--primary-default);
}
