.table-stats {
    width: 100%;
    border: 1px solid var(--gray-300, #e1e1e4);
    border-radius: 8px;
    background: var(--background, #f6f6f7);
    overflow: hidden;
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    color: var(--text, #151622);
    --row-height: 32px
}

.table-stats-header {
    padding: 10px 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--text, #151622)
}

.table-stats-body {
    display: flex;
    flex-direction: column
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--row-height);
    padding: 0 16px;
    background: var(--background, #f6f6f7)
}

.table-values {
    display: flex;
    gap: 8px;
}

.table-row.alt {
    background: var(--gray-100, #f6f6f7)
}

.label {
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    color: var(--text, #151622)
}

.value {
    min-width: 57px;
    text-align: center;
    border-radius: 8px;
    padding: 0 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.value--highlight {
    color: var(--primary-default, #4051fd);
    font-weight: 600;
}
